@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");
body {
	background: white;
}
p {
	font-size: 20px;
}

#Header {
	display: flex;
	justify-content: center;
	background: pink;
	opacity: 0.8;
	height: 12rem;
	padding: 1rem;
	size: 39pc;
}
h1 {
	background-color: pink;
}
.makeup-products {
	justify-self: center;
	height: 15rem;
	width: auto;
	border: 2px solid #555;
}
.card {
	background-color: pink;
	text-align: center;
	border: grey solid 1px;
	padding: 5rem;
	width: 12rem;
	height: 22rem;
	display: inline-grid;
	margin: 7rem 2rem;
	box-shadow: 3px 4px #e04b52;
	position: relative;
}
button {
	position: relative;
	background-color: white;
	border: none;
	border-radius: 100px;
	height: 6rem;
	width: auto;
	color: red;
	font-size: 70px;
	justify-self: center;
}

button2:hover {
	background-color: whitesmoke;
	border: #e04b52 solid 20px;
	color: #e04b52;
}
h1 {
	color: #eee;
	margin-bottom: 30px;
}
button:hover {
	background-color: red;
}
.desc {
	position: absolute;
	display: none;
	width: 250px;
	height: auto;
	background-color: rgba(128, 128, 128, 0.463);
	border-radius: 5px;
	padding: 10px;

	left: 70%;
	top: 50%;
	z-index: 1;
}

.cart {
	width: 150px;
	height: 35px;
	float: right;
	padding: 5px;
	border-radius: 5px;
	background-color: rgb(255, 166, 0);
	color: black;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.cart:hover {
	background-color: rgba(255, 166, 0, 0.81);
}
.cart span {
	font-weight: bold;
	display: inline-block;
	margin-right: 10px;
	color: white;
}


.cart-section h1 {
	width: 350px;
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(60, 60, 156);
	text-align: center;
	margin: 0 auto;
}

.hide {
	display: none;
}